{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Deep Fake</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please Enter Event Post");
	formObj.t1.focus();
	return false;
	}
	
	return true;
	}
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="2" color="yellow">Deepfake Detection on Social Media: Leveraging
Deep Learning and FastText Embeddings for
Identifying Machine-Generated Tweets</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
			<li class="first current_page_item"><a href="{% url 'LoadDataset' %}"><font size="" color="yellow">Load Dataset</font></a></li>

			<li class="first current_page_item"><a href="{% url 'FastText' %}"><font size="" color="yellow">Fast Text Embedding</font></a></li>

			<li class="first current_page_item"><a href="{% url 'TrainML' %}"><font size="" color="yellow">Run All Algorithms</font></a></li>		
			
			<li class="first current_page_item"><a href="{% url 'DetectFake' %}"><font size="" color="yellow">Predict Deep Fake</font></a></li>
		
		<li class="first current_page_item"><a href="{% url 'index' %}"><font size="" color="yellow">Logout</font></a></li>
		</center></ul>	<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor1.jpg' %}" width="870" height="330" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'DetectFakeAction' %} onsubmit="return validate(this);">
<br/>{% csrf_token %}<br/><br><br>
   <h5><b>Tweet Testing Screen</b></h5>
   
   <font size="" color="red"><center>{{ data|safe }}</center></font>

				
						<table align="center" width="40" >
			 <tr><td>
				<br>
				<font size="" color="black">Enter&nbsp;Tweets</b></td><td><br><pre>  <input type="text" name="t1" style="font-family: Comic Sans MS" size="50"/></td></tr></pre>
         
		            
			<tr><td></td><td><br><input type="submit" value="Submit">

			</td>
			</tr>
			</table>
				</div>	
					
				</div>
				<br/><br/>
	</body>
</html>